* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-list {
    display: flex;
    justify-content: center;
}

.header-item {
    padding: 1em;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.header-link {
    color: #FF0000;
    text-decoration: none;
}

.main-image {
    width: 100%;
}

.main-title{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    padding-top: 49px;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 66px;
}

.main-text {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    padding-top: 30px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
}

.button-link {
    display: inline-block;
    padding: 10px 40px;
    background: #FF0000;
    border-radius: 4px;
}

.button-text {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 35px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    padding: 50px;
}

.theme-button {
    width: 100px;
    height: 35px;
    font-size: 12px;
    font-family: 'Montserrat', serif;
    color: #9484f2;
    border: 2px solid blue;
    margin-left: 50px;
}

.dark {
    background-color: #373737;
}

.dark .main-title {
    color: #FFFFFF;
}

.dark .main-text {
    color: #FFFFFF;
}

.dark .footer-text{
    color: #FFFFFF;
}
